

#areas_select {
    padding: 5px;
    margin: 0;
}

#areas_input {
    width:100%;
    padding:10px;
    font-size:1.2rem;
    border:1px solid grey;
    border-radius: 5px;
}

#areas_list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

#areas_list li {
    padding: 10px;
    font-size:1.2rem;
}

#country_name {
    padding:10px;
    font-size: 1.5rem;
}